# Editor settings
.vscode/

# Build output
dist/

# All CSS files
src/style.css
src/street.css
src/people.css
src/nature.css
src/landscape.css
src/homepage.css
src/about.css
src/hello.css


# All HTML files
src/index.html
src/street.html
src/people.html
src/nature.html
src/landscape.html
src/homepage.html
src/about.html
src/hello.html

# Asset
src/assets/homeimg
src/assets/img
src/assets/landscape
src/assets/last-main
src/assets/natureimg
src/assets/peopleimg
src/assets/sky
src/assets/street
src/assets/video