# Editor settings
.vscode/

# Build output
dist/

# All CSS files
style.css
street.css
people.css
nature.css
landscape.css
homepage.css
about.css


# All HTML files
index.html
street.html
people.html
nature.html
landscape.html
homepage.html
about.html

