# Editor settings
.vscode/

# Build output
dist/

# All CSS files
src/style.css
src/street.css
src/people.css
src/nature.css
src/landscape.css
src/homepage.css
src/about.css


# All HTML files
.src/index.html
.src/street.html
.src/people.html
.src/nature.html
.src/landscape.html
.src/homepage.html
.src/about.html

