@tailwind base;
@tailwind components;
@tailwind utilities;

.foto{
    font-family: 'Special Elite', cursive;
}

.body{
    background-color: #F5E9D3;
}
.nature a:hover {
    background-color: #3b2e16;
    
}

.sidebar {
   
}
 @keyframes scrollLoop {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }

        .animate-worm {
            animation: scrollLoop 25s linear;
        }

        .animate-worm:hover {
            animation-play-state: paused;
        }
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");


@media (max-width: 1138px) {
    .sidebar-50 {
        width: 15rem; /* 240px */
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }
}

@media (max-width: 910px) {
    .sidebar-50 {
        width: 15rem; /* 240px */
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        row-gap: 10px;
        
    }
}
.dd {
    display: none;
}

@media (max-width: 621px) {
    .dd {
        font-size: 20px;
        display: flex;
    }
}








